* {
    text-align: center;
    margin: auto;
    padding: auto;
  }


.green-text {
    color:darkgreen;
    font:Times;
    text-align: center;
    font-size: larger;
}

.textbox {
    margin-left: auto;
    margin-right: auto;
}